@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

@mixin breakpoint($point) {
    @if $point==desktop {
        @media (min-width: 70em) {
            @content;
        }
    }

    @else if $point==laptop {
        @media (min-width: 64em) {
            @content;
        }
    }

    @else if $point==tablet {
        @media (min-width: 50em) {
            @content;
        }
    }

    @else if $point==phablet {
        @media (min-width: 37.5em) {
            @content;
        }
    }

    @else if $point==mobileonly {
        @media (max-width: 37.5em) {
            @content;
        }
    }
}

* {
    margin:0;
    padding:0;  
    box-sizing: border-box;
    text-align: center;
    font-size:18px;
    font-family: 'Public Sans';

    @include breakpoint(laptop) {
        text-align: left;

}

.mockup-bg-mobile {
    display:unset;
}

.mockup-bg-desktop {
    display:none;
}

img {
    width:100%;
}

p {
    font-size: .75rem;
    color:hsl(233, 8%, 62%);
    line-height: 1.5em;
}

h1,
h2,
h3,
h4 {
    color:hsl(233, 26%, 24%);
}

h2 {
    font-size: 1.75rem;
    font-weight: 300;
    margin-bottom: .5em;
}

section {
    padding:4em 1.5em;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:1.5em;
    width: 100%;
    background-color: white;

    .logo {
        width:8em;
        cursor: pointer;
    }

    .hamburger {
        width:1.5em;
        cursor: pointer;
    }
}

header {

    .mockup {
        object-fit:cover;
        position: relative;
        background-image: url("../images/bg-intro-mobile.svg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100%;
        height: 20em;
    }

    h1 {
        font-size:2.25rem;
        font-weight: 300;
    }

    p {
        margin: 1em 0;
    }

    button {
        margin-top: 1em;
    }

    @include breakpoint(laptop) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;

        .mockup {
            background-image: url("../images/bg-intro-desktop.svg");
            object-fit: none;
        }
    } 
}


.request-btn {
    border:none;
    background: linear-gradient(to left , rgb(43, 183, 218) 5%, rgb(49, 211, 92) 90%);
    padding: 0.75em 1.5em;
    border-radius: 50px;
    color:white;
    cursor: pointer;
}

//Landing Section
#landing-section {
    padding-top: 1.5em;
}

//Why Section
#why-section {
    background-color: hsl(220, 16%, 96%);

    img {
     width:20%;
     margin-bottom: 1em;
    }

}

.why-cards-container {
    margin-top: 3em;

    h3 {
        margin-bottom: 1em;
        font-weight: 300;
    }

    .why-card {
    margin-bottom: 2em;
    
        &:last-child{
        margin-bottom: 0; 
        }
    }
}

//Articles Section

#articles-section {
    background-color: hsl(0, 0%, 98%);
    padding-bottom: 0;

    h2 {
        margin-bottom: 1em;
    }
}



#articles-section2 {
    padding-top: .75em;
    background-color: hsl(220, 16%, 96%);

    h2 {
        margin-bottom: 1em;
    }
}

.articles-container2 {
    padding-top: 1em;
}

.article-card {
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 1.5em;;
    cursor: pointer;

    &:last-child {
        margin-bottom: 0;
    }

    p,
    h4 {
    text-align: left;
    }

    h4 {
        font-weight: 400;
        font-size: .8rem;
        margin-bottom: 1em;
    }

    p {
        font-size: .7rem;
    }
    
    .author-name {
        font-size: .6rem;
        margin-bottom:1em;
    }

    .article-preview {
        padding: 1.5em;
        background-color: white;
        
    }
}

//Footer

footer {
    display:flex;
    flex-direction: column;
    background-color: hsl(233, 26%, 24%);
    justify-content: center;
    align-items: center;
    padding: 2em 3em;


    .logo-social-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width:100%;
        margin-bottom:2em;

        .logo {
            margin-bottom: 2em;
        }

        .socials {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 65%;

            img{
                width:1.25em;
                cursor: pointer;
            }
        }
    }


    .footer-links1, 
    .footer-links2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        a {
            color:white;
            text-decoration: none;
            margin-bottom: 1em;
            font-size: .8rem;
            font-weight: 300;
            cursor: pointer;
        }
    }

    .request-btn {
        margin:1em 0;
    }

}

//Dynamic Classes

.hidden {
    display:none;
}